* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #0b0018;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: white;
}

.logo-image {
    width: 60px;
    height: 40px;
    margin-right: 800px;
}

.navbar-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    align-items: center;
}

.post-job-button {
    background-color: #ffc107; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 1em;
    cursor: pointer;
}

.post-job-button:hover {
    background-color: #e0a800;
}

.profile-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}
